body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: black;
}

.header {
  background-color: #092143;
  color: white;
  text-align: center;
  padding: 20px;
}

/* Navigation Bar */
.navbar-custom {
  background-color: #115288; /* Different shade of orange for the navbar */
}

.navbar-custom .nav-link {
  color: white;
}

.navbar-custom .navbar-toggler-icon {
  background-image: red;
}

.navbar-custom .dropdown-menu {
  background-color: #115288; /* Same shade as navbar */
}

.navbar-custom .dropdown-item {
  color: rgb(255, 255, 255);
}

.dropdown-item:hover {
  background-color: #092143; /* Change this to your desired hover background color */
  color: #ffffff; /* Keep text color on hover */
}

.container {
  max-width: 1600px;
  margin: 50px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  
  width: 100%; /* Ensure it takes full width up to the max */
}


.filter h2 {
  color: #444;
}

label {
  display: block;
  margin-top: 10px;
  color: #666;
}

input[type="text"], input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: #092143;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 15px;
  width: 100px
}

button[type="submit"]:hover {
  background-color: #115288;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

table th {
  background-color: #092143;
  color: white;
}

table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table-cell {
  text-align: center;
}

.actions {
  margin-top: 20px;
}

.actions button {
  background-color: #f60;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.actions button:hover {
  background-color: #e55d00;
}

/* Pagination */
.pagination .page-link {
  color: black;
  border-radius: 5px; /* Rounded corners */
  margin-top: 20px;
}
.pagination_p {
  margin-top: 20px;
}
.pagination .page-link:hover {
  color: orange;
}

.pagination button {
  background-color: #f60;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 5px;    
}

.pagination button:hover {
  background-color: #e55d00;
}

.custom-btn {
  border-radius: 4px; /* Slightly rounded corners */
}

.custom-btn-primary {
  background-color: #09ff00;
  color: rgb(0, 0, 0);
  width: 100px;
}

.custom-btn-danger {
  background-color: #dc3545;
  color: white;
  width: 100px;
}

.repGen {
  background-color: #03f824;
  color: rgb(0, 0, 0);
  width: 200px;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center;
  display: block; /* or inline-block */
  margin-left: 1560px; /* Pushes the button to the right */
  margin-right: 0; /* No margin on the right */
}